## Data Wrangling

## Slide 14

In [1]:
import pandas as pd
import numpy
superstore=pd.read_csv('M5Stores.csv')
superstore

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Toronto,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Toronto,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Toronto,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Toronto,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Toronto,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Toronto,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Toronto,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Toronto,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Alberta,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Alberta,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Alberta,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Alberta,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Alberta,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Alberta,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Alberta,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Alberta,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Vancover,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Vancover,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Vancover,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Vancover,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Vancover,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Vancover,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Vancover,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Vancover,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Quebec,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Quebec,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Quebec,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Quebec,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Quebec,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Quebec,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Quebec,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Quebec,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

## Checking if there is any missing values
## Data Wrangling

In [2]:
pd.isnull(superstore).any()

StoreCode          False
StoreName          False
StoreType          False
Location           False
OperatingCost      False
Staff_Cnt          False
TotalSales         False
Total_Customers    False
AcqCostPercust      True
BasketSize         False
ProfitPercust      False
OwnStore           False
OnlinePresence     False
Tenure             False
StoreSegment       False
dtype: bool

In [3]:
superstore=superstore.dropna()

In [4]:
pd.isnull(superstore).any()

StoreCode          False
StoreName          False
StoreType          False
Location           False
OperatingCost      False
Staff_Cnt          False
TotalSales         False
Total_Customers    False
AcqCostPercust     False
BasketSize         False
ProfitPercust      False
OwnStore           False
OnlinePresence     False
Tenure             False
StoreSegment       False
dtype: bool

In [5]:
superstore.groupby('Location')

In [6]:
for name, group in superstore.groupby('Location'):
    print(name)
    print(group)

Alberta
   StoreCode         StoreName     StoreType Location  OperatingCost  \
8     STR109  Electronics Zone  Electronincs  Alberta           22.8
9     STR110      Apparel Zone       Apparel  Alberta           19.2
10    STR111       Super Bazar  Super Market  Alberta           17.8
14    STR115     Fashion Bazar       Apparel  Alberta           10.4
15    STR116     Digital Bazar  Electronincs  Alberta           10.4

    Staff_Cnt  TotalSales  Total_Customers  AcqCostPercust  BasketSize  \
8          40       140.8               95            3.92       3.150
9          60       167.6              123            3.92       3.440
10         60       167.6              123            3.92       3.440
14         80       472.0              205            2.93       5.250
15         80       460.0              215            3.00       5.424

    ProfitPercust  OwnStore  OnlinePresence  Tenure  StoreSegment
8           22.90         1               0       4             2
9           18.30         1               0       4             4
10          18.90         1               0       4             4
14          17.98         0               0       3             4
15          17.82         0               0       3             4
Quebec
   StoreCode         StoreName     StoreType Location  OperatingCost  \
24    STR125  Electronics Zone  Electronincs   Quebec           19.2
25    STR126      Apparel Zone       Apparel   Quebec           27.3
26    STR127       Super Bazar  Super Market   Quebec           26.0
27    STR128      Super Market  Super Market   Quebec           30.4
28    STR129     Central Store  Super Market   Quebec           15.8
29    STR130      Apparel Zone       Apparel   Quebec           19.7
30    STR131     Fashion Bazar       Apparel   Quebec           15.0
31    STR132     Digital Bazar  Electronincs   Quebec           21.4

    Staff_Cnt  TotalSales  Total_Customers  AcqCostPercust  BasketSize  \
24         80       400.0              175            3.08       3.845
25         40        79.0               66            4.08       1.935
26         40       120.3               91            4.43       2.140
27         40        95.1              113            3.77       1.513
28         80       351.0              264            4.22       3.170
29         60       145.0              175            3.62       2.770
30         80       301.0              335            3.54       3.570
31         40       121.0              109            4.11       2.780

    ProfitPercust  OwnStore  OnlinePresence  Tenure  StoreSegment
24          17.05         0               0       3             2
25          18.90         1               1       4             1
26          16.70         0               1       5             2
27          16.90         1               1       5             2
28          14.50         0               1       5             4
29          15.50         0               1       5             4
30          14.60         0               1       5             4
31          18.60         1               1       4             2
Toronto
  StoreCode         StoreName     StoreType Location  OperatingCost  \
0    STR101  Electronics Zone  Electronincs  Toronto           21.0
1    STR102      Apparel Zone       Apparel  Toronto           21.0
2    STR103       Super Bazar  Super Market  Toronto           22.8
3    STR104      Super Market  Super Market  Toronto           21.4
4    STR105     Central Store  Super Market  Toronto           18.7
5    STR106      Apparel Zone       Apparel  Toronto           18.1
6    STR107     Fashion Bazar       Apparel  Toronto           14.3
7    STR108     Digital Bazar  Electronincs  Toronto           24.4

   Staff_Cnt  TotalSales  Total_Customers  AcqCostPercust  BasketSize  \
0         60       160.0              110            3.90       2.620
1         60       160.0              110            3.90       2.875
2         40       108.0               93            3.85       2.320
3         60       258.0              110            3.08       3.215
4         80       360.0              175            3.15       3.440
5         60       225.0              105            2.76       3.460
6         80       360.0              245            3.21       3.570
7         40       146.7               62            3.69       3.190

   ProfitPercust  OwnStore  OnlinePresence  Tenure  StoreSegment
0          16.46         0               1       4             4
1          17.02         0               1       4             4
2          18.61         1               1       4             1
3          19.44         1               0       3             1
4          17.02         0               0       3             2
5          20.22         1               0       3             1
6          15.84         0               0       3             4
7          20.00         1               0       4             2
Vancover
   StoreCode         StoreName     StoreType  Location  OperatingCost  \
16    STR117  Electronics Zone  Electronincs  Vancover           14.7
17    STR118      Apparel Zone       Apparel  Vancover           32.4
18    STR119       Super Bazar  Super Market  Vancover           30.4
19    STR120      Super Market  Super Market  Vancover           33.9
20    STR121     Central Store  Super Market  Vancover           21.5
21    STR122      Apparel Zone       Apparel  Vancover           15.5
22    STR123     Fashion Bazar       Apparel  Vancover           15.2
23    STR124     Digital Bazar  Electronincs  Vancover           13.3

    Staff_Cnt  TotalSales  Total_Customers  AcqCostPercust  BasketSize  \
16         80       440.0              230            3.23       5.345
17         40        78.7               66            4.08       2.200
18         40        75.7               52            4.93       1.615
19         40        71.1               65            4.22       1.835
20         40       120.1               97            3.70       2.465
21         80       318.0              150            2.76       3.520
22         80       304.0              150            3.15       3.435
23         80       350.0              245            3.73       3.840

    ProfitPercust  OwnStore  OnlinePresence  Tenure  StoreSegment
16          17.42         0               0       3             4
17          19.47         1               1       4             1
18          18.52         1               1       4             2
19          19.90         1               1       4             1
20          20.01         1               0       3             1
21          16.87         0               0       3             2
22          17.30         0               0       3             2
23          15.41         0               0       3             4

In [7]:
superstore.groupby('Location').TotalSales.sum()

Location
Alberta     1408.0
Quebec      1612.4
Toronto     1777.7
Vancover    1757.6
Name: TotalSales, dtype: float64

In [8]:
##finding unique values
superstore['Staff_Cnt'].unique()

array([60, 40, 80], dtype=int64)

In [9]:
len(superstore)

29

In [10]:
superstore.groupby('Location').size()

Location
Alberta     5
Quebec      8
Toronto     8
Vancover    8
dtype: int64

In [11]:
superstore.dtypes

StoreCode           object
StoreName           object
StoreType           object
Location            object
OperatingCost      float64
Staff_Cnt            int64
TotalSales         float64
Total_Customers      int64
AcqCostPercust     float64
BasketSize         float64
ProfitPercust      float64
OwnStore             int64
OnlinePresence       int64
Tenure               int64
StoreSegment         int64
dtype: object

In [12]:
grouped=superstore.groupby(superstore.dtypes,axis=1)

In [13]:
for dtype, group in grouped:
    print(dtype)
    print(group)

int64
    Staff_Cnt  Total_Customers  OwnStore  OnlinePresence  Tenure  StoreSegment
0          60              110         0               1       4             4
1          60              110         0               1       4             4
2          40               93         1               1       4             1
3          60              110         1               0       3             1
4          80              175         0               0       3             2
5          60              105         1               0       3             1
6          80              245         0               0       3             4
7          40               62         1               0       4             2
8          40               95         1               0       4             2
9          60              123         1               0       4             4
10         60              123         1               0       4             4
14         80              205         0               0       3             4
15         80              215         0               0       3             4
16         80              230         0               0       3             4
17         40               66         1               1       4             1
18         40               52         1               1       4             2
19         40               65         1               1       4             1
20         40               97         1               0       3             1
21         80              150         0               0       3             2
22         80              150         0               0       3             2
23         80              245         0               0       3             4
24         80              175         0               0       3             2
25         40               66         1               1       4             1
26         40               91         0               1       5             2
27         40              113         1               1       5             2
28         80              264         0               1       5             4
29         60              175         0               1       5             4
30         80              335         0               1       5             4
31         40              109         1               1       4             2
float64
    OperatingCost  TotalSales  AcqCostPercust  BasketSize  ProfitPercust
0            21.0       160.0            3.90       2.620          16.46
1            21.0       160.0            3.90       2.875          17.02
2            22.8       108.0            3.85       2.320          18.61
3            21.4       258.0            3.08       3.215          19.44
4            18.7       360.0            3.15       3.440          17.02
5            18.1       225.0            2.76       3.460          20.22
6            14.3       360.0            3.21       3.570          15.84
7            24.4       146.7            3.69       3.190          20.00
8            22.8       140.8            3.92       3.150          22.90
9            19.2       167.6            3.92       3.440          18.30
10           17.8       167.6            3.92       3.440          18.90
14           10.4       472.0            2.93       5.250          17.98
15           10.4       460.0            3.00       5.424          17.82
16           14.7       440.0            3.23       5.345          17.42
17           32.4        78.7            4.08       2.200          19.47
18           30.4        75.7            4.93       1.615          18.52
19           33.9        71.1            4.22       1.835          19.90
20           21.5       120.1            3.70       2.465          20.01
21           15.5       318.0            2.76       3.520          16.87
22           15.2       304.0            3.15       3.435          17.30
23           13.3       350.0            3.73       3.840          15.41
24           19.2       400.0            3.08       3.845          17.05
25           27.3        79.0            4.08       1.935          18.90
26           26.0       120.3            4.43       2.140          16.70
27           30.4        95.1            3.77       1.513          16.90
28           15.8       351.0            4.22       3.170          14.50
29           19.7       145.0            3.62       2.770          15.50
30           15.0       301.0            3.54       3.570          14.60
31           21.4       121.0            4.11       2.780          18.60
object
   StoreCode         StoreName     StoreType  Location
0     STR101  Electronics Zone  Electronincs   Toronto
1     STR102      Apparel Zone       Apparel   Toronto
2     STR103       Super Bazar  Super Market   Toronto
3     STR104      Super Market  Super Market   Toronto
4     STR105     Central Store  Super Market   Toronto
5     STR106      Apparel Zone       Apparel   Toronto
6     STR107     Fashion Bazar       Apparel   Toronto
7     STR108     Digital Bazar  Electronincs   Toronto
8     STR109  Electronics Zone  Electronincs   Alberta
9     STR110      Apparel Zone       Apparel   Alberta
10    STR111       Super Bazar  Super Market   Alberta
14    STR115     Fashion Bazar       Apparel   Alberta
15    STR116     Digital Bazar  Electronincs   Alberta
16    STR117  Electronics Zone  Electronincs  Vancover
17    STR118      Apparel Zone       Apparel  Vancover
18    STR119       Super Bazar  Super Market  Vancover
19    STR120      Super Market  Super Market  Vancover
20    STR121     Central Store  Super Market  Vancover
21    STR122      Apparel Zone       Apparel  Vancover
22    STR123     Fashion Bazar       Apparel  Vancover
23    STR124     Digital Bazar  Electronincs  Vancover
24    STR125  Electronics Zone  Electronincs    Quebec
25    STR126      Apparel Zone       Apparel    Quebec
26    STR127       Super Bazar  Super Market    Quebec
27    STR128      Super Market  Super Market    Quebec
28    STR129     Central Store  Super Market    Quebec
29    STR130      Apparel Zone       Apparel    Quebec
30    STR131     Fashion Bazar       Apparel    Quebec
31    STR132     Digital Bazar  Electronincs    Quebec

In [14]:
superstore.groupby('Location').describe()

         OperatingCost                                                        \
                 count     mean       std   min     25%    50%     75%   max
Location
Alberta            5.0  16.1200  5.531004  10.4  10.400  17.80  19.200  22.8
Quebec             8.0  21.8500  5.547200  15.0  18.350  20.55  26.325  30.4
Toronto            8.0  20.2125  3.130238  14.3  18.550  21.00  21.750  24.4
Vancover           8.0  22.1125  8.766403  13.3  15.075  18.50  30.900  33.9

         Staff_Cnt        ... Tenure      StoreSegment                        \
             count  mean  ...    75%  max        count   mean       std  min
Location                  ...
Alberta        5.0  64.0  ...    4.0  4.0          5.0  3.600  0.894427  2.0
Quebec         8.0  57.5  ...    5.0  5.0          8.0  2.625  1.187735  1.0
Toronto        8.0  60.0  ...    4.0  4.0          8.0  2.375  1.407886  1.0
Vancover       8.0  60.0  ...    4.0  4.0          8.0  2.125  1.246423  1.0


          25%  50%  75%  max
Location
Alberta   4.0  4.0  4.0  4.0
Quebec    2.0  2.0  4.0  4.0
Toronto   1.0  2.0  4.0  4.0
Vancover  1.0  2.0  2.5  4.0

[4 rows x 88 columns]

In [15]:
grouped=superstore.groupby('Location')
grouped.agg('mean')

,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
Location,,,,,,,,,,,
Alberta,16.1200,64.0,281.6000,152.200,3.53800,4.140800,19.18000,0.600,0.000,3.600,3.600
Quebec,21.8500,57.5,201.5500,166.000,3.85625,2.715375,16.59375,0.375,0.875,4.500,2.625
Toronto,20.2125,60.0,222.2125,126.250,3.44250,3.086250,18.07625,0.500,0.375,3.500,2.375
Vancover,22.1125,60.0,219.7000,131.875,3.72500,3.031875,18.11250,0.500,0.375,3.375,2.125

## Slide 21

In [16]:
##Data Filtering using single condtion
superstore[superstore['TotalSales']>150]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Toronto,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Toronto,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
3,STR104,Super Market,Super Market,Toronto,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Toronto,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Toronto,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Toronto,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
9,STR110,Apparel Zone,Apparel,Alberta,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Alberta,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
14,STR115,Fashion Bazar,Apparel,Alberta,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Alberta,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Vancover,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
21,STR122,Apparel Zone,Apparel,Vancover,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Vancover,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Vancover,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Quebec,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
28,STR129,Central Store,Super Market,Quebec,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Quebec,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4

In [17]:
##Data Filtering using Multiple condtion
superstore[(superstore['TotalSales']>150)&(superstore['Location']=='Toronto')]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Toronto,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Toronto,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
3,STR104,Super Market,Super Market,Toronto,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Toronto,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Toronto,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Toronto,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4

In [19]:
##filtering through Values
superstore[superstore.Staff_Cnt.isin([60])]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Toronto,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Toronto,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
3,STR104,Super Market,Super Market,Toronto,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
5,STR106,Apparel Zone,Apparel,Toronto,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
9,STR110,Apparel Zone,Apparel,Alberta,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Alberta,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
29,STR130,Apparel Zone,Apparel,Quebec,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4

In [21]:
superstore[superstore.Location.isin(["Toronto","Alberta"])]
superstore[superstore.Staff_Cnt.isin([60])]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Toronto,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Toronto,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
3,STR104,Super Market,Super Market,Toronto,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
5,STR106,Apparel Zone,Apparel,Toronto,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
9,STR110,Apparel Zone,Apparel,Alberta,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Alberta,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
29,STR130,Apparel Zone,Apparel,Quebec,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4

# Pivoting

In [22]:
superstore.pivot(index='StoreCode', columns='StoreType', values='Location')

StoreType   Apparel Electronincs Super Market
StoreCode
STR101          NaN      Toronto          NaN
STR102      Toronto          NaN          NaN
STR103          NaN          NaN      Toronto
STR104          NaN          NaN      Toronto
STR105          NaN          NaN      Toronto
STR106      Toronto          NaN          NaN
STR107      Toronto          NaN          NaN
STR108          NaN      Toronto          NaN
STR109          NaN      Alberta          NaN
STR110      Alberta          NaN          NaN
STR111          NaN          NaN      Alberta
STR115      Alberta          NaN          NaN
STR116          NaN      Alberta          NaN
STR117          NaN     Vancover          NaN
STR118     Vancover          NaN          NaN
STR119          NaN          NaN     Vancover
STR120          NaN          NaN     Vancover
STR121          NaN          NaN     Vancover
STR122     Vancover          NaN          NaN
STR123     Vancover          NaN          NaN
STR124          NaN     Vancover          NaN
STR125          NaN       Quebec          NaN
STR126       Quebec          NaN          NaN
STR127          NaN          NaN       Quebec
STR128          NaN          NaN       Quebec
STR129          NaN          NaN       Quebec
STR130       Quebec          NaN          NaN
STR131       Quebec          NaN          NaN
STR132          NaN       Quebec          NaN

In [23]:
(superstore.pivot(index='StoreCode', columns='StoreType', values='Location')).tail(31)

StoreType   Apparel Electronincs Super Market
StoreCode
STR101          NaN      Toronto          NaN
STR102      Toronto          NaN          NaN
STR103          NaN          NaN      Toronto
STR104          NaN          NaN      Toronto
STR105          NaN          NaN      Toronto
STR106      Toronto          NaN          NaN
STR107      Toronto          NaN          NaN
STR108          NaN      Toronto          NaN
STR109          NaN      Alberta          NaN
STR110      Alberta          NaN          NaN
STR111          NaN          NaN      Alberta
STR115      Alberta          NaN          NaN
STR116          NaN      Alberta          NaN
STR117          NaN     Vancover          NaN
STR118     Vancover          NaN          NaN
STR119          NaN          NaN     Vancover
STR120          NaN          NaN     Vancover
STR121          NaN          NaN     Vancover
STR122     Vancover          NaN          NaN
STR123     Vancover          NaN          NaN
STR124          NaN     Vancover          NaN
STR125          NaN       Quebec          NaN
STR126       Quebec          NaN          NaN
STR127          NaN          NaN       Quebec
STR128          NaN          NaN       Quebec
STR129          NaN          NaN       Quebec
STR130       Quebec          NaN          NaN
STR131       Quebec          NaN          NaN
STR132          NaN       Quebec          NaN

In [ ]:
Data Exploration

In [ ]:
r=superstore.rolling(window=3,min_periods=1)
r.aggregate(numpy.sum)

In [24]:
df=pd.DataFrame({'animal':['alligator','bee','falcon','lion','monkey','parrot','shark','whale','zebra']})
df

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra

In [26]:
df.tail()

   animal
4  monkey
5  parrot
6   shark
7   whale
8   zebra

In [27]:
pd.crosstab(superstore.StoreType,superstore.Location, margins=True)

Location      Alberta  Quebec  Toronto  Vancover  All
StoreType
Apparel             2       3        3         3   11
Electronincs        2       2        2         2    8
Super Market        1       3        3         3   10
All                 5       8        8         8   29

In [28]:
categorical_df=superstore[['StoreCode','StoreName']]

In [29]:
categorical_df

   StoreCode         StoreName
0     STR101  Electronics Zone
1     STR102      Apparel Zone
2     STR103       Super Bazar
3     STR104      Super Market
4     STR105     Central Store
5     STR106      Apparel Zone
6     STR107     Fashion Bazar
7     STR108     Digital Bazar
8     STR109  Electronics Zone
9     STR110      Apparel Zone
10    STR111       Super Bazar
14    STR115     Fashion Bazar
15    STR116     Digital Bazar
16    STR117  Electronics Zone
17    STR118      Apparel Zone
18    STR119       Super Bazar
19    STR120      Super Market
20    STR121     Central Store
21    STR122      Apparel Zone
22    STR123     Fashion Bazar
23    STR124     Digital Bazar
24    STR125  Electronics Zone
25    STR126      Apparel Zone
26    STR127       Super Bazar
27    STR128      Super Market
28    STR129     Central Store
29    STR130      Apparel Zone
30    STR131     Fashion Bazar
31    STR132     Digital Bazar

In [30]:
categorical_df['store_count']=1
store_one_hot_encoded=pd.pivot_table(categorical_df, index=categorical_df.index,
                                    columns=['StoreName'],
                                    values=['store_count'])

C:\Users\melmensh\AppData\Local\Temp\ipykernel_17160\840670687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['store_count']=1

In [31]:
store_one_hot_encoded=store_one_hot_encoded.fillna(0)

In [32]:
store_one_hot_encoded.columns=store_one_hot_encoded.columns.droplevel()

In [33]:
store_one_hot_encoded

StoreName,Apparel Zone,Central Store,Digital Bazar,Electronics Zone,Fashion Bazar,Super Bazar,Super Market
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17,1.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25,1.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29,1.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,1.0,0.0,0.0
31,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [35]:
import pandas as pd
import numpy as np
df=pd.read_csv('test.csv',sep=',')
df

      name company  amount product
0      tim     ibm      22      sw
1      tim     ibm      22      sw
2      tim     ibm      22      hw
3      tim     gbm      35      sw
4   juliet  indeff      10     net
5   juliet  indeff      20     net
6   juliet  indeff      30      sw
7   juliet  indeff      40      hw
8   andrew     ibm       4      hw
9   andrew     gbm       6      hw
10  andrew      ba     200      sw

## Basic pivot provides the mean amount, not very useful

In [36]:
pd.pivot_table(df, index=["name"], values=["amount"])

        amount
name
andrew   70.00
juliet   25.00
tim      25.25

In [37]:
pd.pivot_table(df, index=["name"], values=["amount"],aggfunc=np.sum)

        amount
name
andrew     210
juliet     100
tim        101

In [39]:
pd.pivot_table(df, index=["name"], values=["amount"],aggfunc=np.count_nonzero)

        amount
name
andrew       3
juliet       4
tim          4

In [40]:
pd.pivot_table(df, index=["company"], values=["amount"],aggfunc=np.sum)

         amount
company
ba          200
gbm          41
ibm          70
indeff      100